.chat {
    top: 3.5rem;
    left: 25%;
    padding-bottom: 4rem;
    position: absolute;
    width: 75%;
    height: 80vh;
    background-color: rgba(185, 216, 250, 0.524);
    overflow: scroll;

    &-main {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    &-list {
        margin: 0 auto;
        width: 100%;
        height: max-content;
        overflow: scroll;
    }


    &-messages {
        margin-top: 2rem;
        margin-left: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: scroll;

        &-text {
            max-width: max-content;
            padding: 1rem;
            margin-left: .5rem;
            background-color: rgb(217, 255, 205);
            border-radius: .7rem;
        }


    }

    &-reply {
        margin-top: 2rem;
        margin-right: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: scroll;

        &-text {
            margin-right: .5rem;
            padding: 1rem;
            background-color: rgb(201, 249, 255);
            max-width: max-content;
            border-radius: .7rem;
        }


    }

    &-input {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 75%;
        height: 5rem;
        background-color: rgb(255, 255, 255);

        input {
            margin: 1rem 0 0 1rem;
            padding: .5rem;
            width: 75%;
            height: 2.5rem;
            border: none;
            outline: none;
        }
    }
}

.input-img {
    width: 2rem;
    height: 2rem;
}

@media (max-width: 900px) {
    .chat {
        left: 0;
        width: 100%;
        padding-top: 3rem;
    }

    .chat-input {
        width: 100%;
        height: 3rem;
        left: 0;
        right: unset;
    }

    .chat-input input {
        width: 80%;

    }
}

@media (max-width: 600px) {
    .chat {
        left: 0;
        width: 100%;
    }

    .chat-input input {

        width: 60%;

    }
}

.chat-input input:active {
    font-size: 16px;
}